<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Nick. It uses data from a weather app.</p>
    <img class="portrait" src="/images/70435D8C-89B8-4F44-8A30-F6F32378BF18-1.jpg">
    </div>
    {{>footer}}
</body>
</html>