<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>Don't forget this is: {{help}}</p>
    
    </div>
    {{>footer}}
    
</body>
</html>